@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.v-middle {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

.valign {
	display: flex;
	box-align: center;
	align-items: center
}

*,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0
}

html {
	font-size: 89.5%
}


body {
	margin: 0px;
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-size: cover;
    height: 100vh;
	font-size: 1em;
	line-height: 1.85714286em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	overflow-x: hidden
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Dosis, sans-serif;
	color: #252525;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0
}

.navbar-brand 
 { font-family: "Mr De Haviland"; font-size: 50px;
	margin-left:50px; 
 	font-style: normal;
 	font-variant: normal;
    font-weight: 900
     word-spacing: 10px;
} 


img {
	width: 100%
}


.button {
  background-color: #03a9f4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.btn-bord-md {
	color: black;
	border: 1px solid black;
	padding: 8px 25px;
	background: 0 0!important;
	transition: all .5s
}

.btn-bg-md {
	color: black;
	padding: 8px 25px;
	transition: all .5s
}

.btn-bg-md:hover {
	background: 0 0!important
}

.button-scroll {
	position: absolute;
	bottom: 10%;
	left: calc(50% - 13px);
	width: 26px;
	height: 50px;
	border-radius: 15px;
	border: 2px solid #888;
	cursor: pointer;
	z-index: 9;
	transition: all 1s
}

.button-scroll:hover {
	border: 2px solid #fff
}

.button-scroll span {
	height: 10px;
	width: 2px;
	position: absolute;
	left: calc(50% - 1px);
	background: #888;
	-webkit-animation: finger 1.5s infinite alternate;
	-webkit-animation: finger 1.5s infinite;
	animation: finger 1.5s infinite
}

@-webkit-keyframes finger {
	10% {
		opacity: 1
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}
}

@keyframes finger {
	10% {
		opacity: 1
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}
}

@keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

@-webkit-keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

.section-padding {
	padding: 80px 0
}

.mbl-0 {
	margin-left: 0!important;
	padding-left: 0!important
}

.mbr-0 {
	margin-right: 0!important;
	padding-right: 0!important
}

.mt-0 {
	margin-top: 0!important
}

.mt-5 {
	margin-top: 5px!important
}

.mt-10 {
	margin-top: 10px!important
}

.mt-15 {
	margin-top: 15px!important
}

.mt-20 {
	margin-top: 20px!important
}

.mt-25 {
	margin-top: 25px!important
}

.mt-30 {
	margin-top: 30px!important
}

.mt-35 {
	margin-top: 35px!important
}

.mt-40 {
	margin-top: 40px!important
}

.mt-45 {
	margin-top: 45px!important
}

.mt-50 {
	margin-top: 50px!important
}

.mt-55 {
	margin-top: 55px!important
}

.mt-60 {
	margin-top: 60px!important
}

.mt-62 {
	margin-top: 62px!important
}

.mt-65 {
	margin-top: 65px!important
}

.mt-70 {
	margin-top: 70px!important
}

.mt-75 {
	margin-top: 75px!important
}

.mt-80 {
	margin-top: 80px!important
}

.mt-85 {
	margin-top: 85px!important
}

.mt-90 {
	margin-top: 90px!important
}

.mt-95 {
	margin-top: 95px!important
}

.mt-100 {
	margin-top: 100px!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-5 {
	margin-bottom: 5px!important
}

.mb-10 {
	margin-bottom: 10px!important
}

.mb-15 {
	margin-bottom: 15px!important
}

.mb-20 {
	margin-bottom: 20px!important
}

.mb-25 {
	margin-bottom: 25px!important
}

.mb-30 {
	margin-bottom: 30px!important
}

.mb-35 {
	margin-bottom: 35px!important
}

.mb-40 {
	margin-bottom: 40px!important
}

.mb-45 {
	margin-bottom: 45px!important
}

.mb-50 {
	margin-bottom: 50px!important
}

.mb-55 {
	margin-bottom: 55px!important
}

.mb-60 {
	margin-bottom: 60px!important
}

.mb-62 {
	margin-bottom: 62px!important
}

.mb-65 {
	margin-bottom: 65px!important
}

.mb-70 {
	margin-bottom: 70px!important
}

.mb-75 {
	margin-bottom: 75px!important
}

.mb-80 {
	margin-bottom: 80px!important
}

.mb-85 {
	margin-bottom: 85px!important
}

.mb-90 {
	margin-bottom: 90px!important
}

.mb-95 {
	margin-bottom: 95px!important
}

.mb-100 {
	margin-bottom: 100px!important
}

.pt-0 {
	padding-top: 0!important
}

.pt-5 {
	padding-top: 5px!important
}

.pt-10 {
	padding-top: 10px!important
}

.pt-15 {
	padding-top: 15px!important
}

.pt-20 {
	padding-top: 20px!important
}

.pt-25 {
	padding-top: 25px!important
}

.pt-30 {
	padding-top: 30px!important
}

.pt-35 {
	padding-top: 35px!important
}

.pt-40 {
	padding-top: 40px!important
}

.pt-45 {
	padding-top: 45px!important
}

.pt-50 {
	padding-top: 50px!important
}

.pt-55 {
	padding-top: 55px!important
}

.pt-60 {
	padding-top: 60px!important
}

.pt-65 {
	padding-top: 65px!important
}

.pt-70 {
	padding-top: 70px!important
}

.pt-75 {
	padding-top: 75px!important
}

.pt-80 {
	padding-top: 80px!important
}

.pt-85 {
	padding-top: 85px!important
}

.pt-90 {
	padding-top: 90px!important
}

.pt-95 {
	padding-top: 95px!important
}

.pt-100 {
	padding-top: 100px!important
}

.pb-0 {
	padding-bottom: 0!important
}

.pb-5 {
	padding-bottom: 5px!important
}

.pb-10 {
	padding-bottom: 10px!important
}

.pb-15 {
	padding-bottom: 15px!important
}

.pb-20 {
	padding-bottom: 20px!important
}

.pb-25 {
	padding-bottom: 25px!important
}

.pb-30 {
	padding-bottom: 30px!important
}

.pb-35 {
	padding-bottom: 35px!important
}

.pb-40 {
	padding-bottom: 40px!important
}

.pb-45 {
	padding-bottom: 45px!important
}

.pb-50 {
	padding-bottom: 50px!important
}

.pb-55 {
	padding-bottom: 55px!important
}

.pb-60 {
	padding-bottom: 60px!important
}

.pb-65 {
	padding-bottom: 65px!important
}

.pb-70 {
	padding-bottom: 70px!important
}

.pb-75 {
	padding-bottom: 75px!important
}

.pb-80 {
	padding-bottom: 80px!important
}

.pb-85 {
	padding-bottom: 85px!important
}

.pb-90 {
	padding-bottom: 90px!important
}

.pb-95 {
	padding-bottom: 95px!important
}

.pb-100 {
	padding-bottom: 100px!important
}

.no-padding {
	padding: 0!important
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: 9999999
}

#totalbase{
	position: absolute;
	height: 10px;
	width:10px;
	top:50%;
	left:50%;
background-color:blue;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective:5000px;
	-webkit-transform-origin: 0 0 ;
	-webkit-transform: rotateX(60deg) rotateZ(45deg) translate(-50%,-50%);

	
}


#talkbubble {
   width: 120px;
   height: 90px;
   background: #D3D3D3;
   position: absolute;
   font-family: 'Courgette', cursive;
  font-size:18px;
   border-radius:10px;
   top:50%;left:50%;
   -webkit-transform:translate(-50%,-50%) rotateX(-90deg) rotateY(45deg) translateY(-370px);
}
#talkbubble:before {
   content:"";
   position: absolute;
   left:47px;
   bottom: -26px;
   width: 0;
   height: 0;
   border-right: 13px solid transparent;
   border-top: 26px solid #D3D3D3;
   border-left: 13px solid transparent;
}

#animbase{
	-webkit-transform-style: preserve-3d;
	position: absolute;
	height: 700px;
	width:10px;
	top:50%;
	left:50%;

-webkit-animation: anima 8s infinite linear;

	-webkit-transform-origin: 0 0% ;
}
#base {
	position: absolute;
	height: 10px;
	width:10px;
	top:0;
	left:50%;
background-color:blue;
	-webkit-transform-style: preserve-3d;
	
	-webkit-transform-origin: 0 0 ;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg);

	
}
#baseshadow {
	position: absolute;
	height: 10px;
	width:25px;
	top:50%;
	left:50%;
background-color:#D3D3D3;
	-webkit-transform-style: preserve-3d;
	box-shadow:0 0 140px 27px gray;
	-webkit-transform-origin: 0 0 ;
	-webkit-transform:  rotateZ(90deg) translateZ(-150px);

	
}

@-webkit-keyframes anima {
	0%{-webkit-transform: rotateZ(0deg) translate(-50%,-50%)  ;}
	100%{-webkit-transform:  rotateZ(360deg) translate(-50%,-50%) ;}
}

.helitop{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(0deg) translateZ(20px);
}

.helifront{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateZ(-20px);
}



.heliback{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateZ(20px);
}
.front1{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(18px);
}
.front2{
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(60deg) translateZ(18px);
}
.front3{
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(-60deg) translateZ(18px);
}
.front4{

	border-top: 18px solid #f0f0f0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	height: 0;
	width: 20px;
	
	left:50%;top:50%;
		-webkit-transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(0px) translateX(19px) translateY(50%);
}
.front5{

	border-top: 18px solid#f0f0f0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	height: 0;
	width: 20px;
	
	left:50%;top:50%;
		-webkit-transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(39px) translateX(1px) translateY(50%);
}

.helileft{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateZ(-20px);
}

.heliright{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateZ(20px);
}
.helibottom{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(-20px);
}

.wingbase {
		-webkit-transform-style:preserve-3d;
	position: absolute;
	height:10px;
	width:10px;
	bottom:00%; left:50%;
	background:white;
	-webkit-transform-origin:0 0;
	-webkit-transform: translate(-50%,-50%);
	-webkit-animation: anim 0.5s infinite linear;
}

@-webkit-keyframes anim {
	0%{-webkit-transform: rotateZ(0deg) translate(-50%,-50%)   ;}
	100%{-webkit-transform:  rotateZ(360deg) translate(-50%,-50%)  ;}
}
.wing1{z-index:10;
	position: absolute;
	height: 4px;
	width:100px;
	left:50%;top:50%;
	background-color:#000000;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(50%) translateZ(25px) rotateX(10deg);

}
.wing2{z-index:10;
	position: absolute;
	height: 4px;
	width:100px;
	left:50%;top:50%;
	background-color:black;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(-50%) translateZ(25px) rotateX(-10deg);

}
.col1{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(3px) ;
}
	
.col2{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg)  translateY(50%) translateZ(-3px) ;
}

.col3{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(-3px) ;
}
.col4{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(3px) ;
}

.tailbase{
	-webkit-transform-style:preserve-3d;
	position:absolute;
	height:10px;
	width: 10px;
	
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	
}

.tail1{-webkit-transform-style:preserve-3d;
		position:absolute;
	height:8px;
	width: 8px;
	border:1px solid black;
	background-color:white;
	top:0;
	left:50%;
	-webkit-transform:translate(-50%,100%) translateZ(-100px);
}
.tail21{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(5px);
}

.tail22{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-5px);
}

.tail23{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(5px);
}

.tail24{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-5px);
}

.tail25{-webkit-transform-style:preserve-3d;
	position: absolute;
	height:14px;
	width: 14px;
	top: 50%;
	left:50%;
	
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid black;
	border-bottom:10px solid transparent;
	-webkit-transform: translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(-5px);
}

.tail26{-webkit-transform-style:preserve-3d;
	position: absolute;
	height:14px;
	width: 14px;
	top: 50%;
	left:50%;
	
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid black;
	border-bottom:10px solid transparent;
	-webkit-transform: translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(5px);
}

.tailwingbase{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 10px;
	width: 10px;
	left:50%;
	top:0%;
	-webkit-animation:animb 0.3s infinite linear;
	-webkit-transform:translate(-50%,0) rotateX(180deg);
}

@-webkit-keyframes animb {
	0%{-webkit-transform:translate(-50%,0) rotateX(180deg) rotateZ(0deg);}
	100%{-webkit-transform:translate(-50%,0) rotateX(180deg) rotateZ(-360deg);}
}


.tail221{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(2px);
}

.tail222{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-2px);
}

.tail223{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(2px);
}

.tail224{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height:3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-2px);
}
.tailwing1{
	position: absolute;
	height: 2px;
	width:15px;
	left:50%;top:50%;
	background-color:#000000;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(50%) translateZ(5px) rotateX(30deg);

}
.tailwing2{
	position: absolute;
	height: 2px;
	width:15px;
	left:50%;top:50%;
	background-color:black;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(-50%) translateZ(5px) rotateX(-30deg);

}

#towerbase{
	
	position: absolute;
	height: 40px;
	width:40px;
	top:50%;
	left:50%;
background-color:blue;
box-shadow:0 0 60px 5px black;
	-webkit-transform-style: preserve-3d;
	
	-webkit-transform-origin: 0 0 ;
	-webkit-transform:  translate(-50%,-50%) translateZ(-150px);

	
}
.tower1left{
	position: absolute;
	height: 40px;
	width: 200px;
	left:50%;top:50%;
	background-color:white;

	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateX(-50%) translateZ(20px);
}
.tower1right{
	position: absolute;
	height: 200px;
	width: 40px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-20px);
}
.tower1top{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 80px;
	width: 80px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(240px) ;
}
.tower2top{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 80px;
	width: 80px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(200px);
}
.tower2left{
	position: absolute;
	height: 78px;
	width: 22px;
	left:50%;top:50%;

	border-top:1px solid white;
	border-bottom: 1px solid white;
	border-left:10px solid white;
	border-right:10px solid white;
		outline:1px solid black;
	-webkit-transform:translate(-10px,-50%) rotateY(90deg)  translateX(-220px)  translateZ(30px);
}
.tower1window{
	position: absolute;
	height: 22px;
	width: 75px;
	left:50%;top:50%;
	background-color:#d3d3d3;
	opacity: 0.8;
	-webkit-transform:translate(-50%,-50%);
}
.tower2window{
	position: absolute;
	height: 75px;
	width: 22px;
	left:50%;top:50%;
	background-color:#d3d3d3;
	opacity: 0.8;
	-webkit-transform:translate(-50%,-50%);
}
.tower2right{
	position: absolute;
	height: 22px;
	width: 78px;
	left:50%;top:50%;
	
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	
	outline:1px solid black;
	-webkit-transform:translate(-50%,-11px) rotateX(90deg) translateY(220px) translateZ(-30px);
}



body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	overflow-x: hidden!important
}

* {
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none!important;
	list-style: none!important;
	outline: 0!important;
	font-family: 'Open Sans', sans-serif
}

.title {
	display: block!important;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 100%
}

.title h3 {
	font-family: Philosopher, sans-serif;
	font-weight: 100;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, .2);
	display: inline-block;
	position: relative
}

.title h3:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -60px;
	width: 50px;
	height: 2px;
	background: #03a9f4
}

.title h3:after {
	position: absolute;
	content: "";
	top: 50%;
	right: -60px;
	width: 50px;
	height: 2px;
	background: #03a9f4
}

.active-1 {
	color: #03a9f4!important;
	position: relative
}

.active-1::before {
	content: "";
	position: absolute;
	top: 15%;
	width: 50%;
	height: 1px;
	background: #fafafa;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: move-porder;
	animation-name: move-porder;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-transition: all .8s;
	transition: all .8s
}

.active-1::after {
	content: "";
	position: absolute;
	right: -50%;
	bottom: 15%;
	width: 50%;
	height: 1px;
	background: #fafafa;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: move-porder-1;
	animation-name: move-porder-1;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-transition: all .8s;
	transition: all .8s
}

@-webkit-keyframes move-porder {
	from {
		left: -50%
	}
	to {
		left: 50%
	}
}

@keyframes move-porder {
	from {
		left: -50%
	}
	to {
		left: 50%
	}
}

@-webkit-keyframes move-porder-1 {
	from {
		right: -50%
	}
	to {
		right: 50%
	}
}

@keyframes move-porder-1 {
	from {
		right: -50%
	}
	to {
		right: 50%
	}
}

/*@media (max-width:991px) {
	.active-1::before {
		display: none
	}
	.active-1::after {
		display: none
	}
}
*/
.navbar.scrolling-navbar {
	overflow: hidden!important
}

.header {
	position: relative;
	max-width: 100%;
	height: 100vh;
	/*background: url(./Special_files/background/adult-anger-angry.jpg) no-repeat;*/
	background-size: cover;
	background-attachment: fixed;
	/*background-color: rgba(0, 0, 0, .8);*/
	background-blend-mode: overlay
}

.header .caption { margin-top: 80px; }



.header .caption h2 
	{ font-family: "Aladin"; 
	  font-style: normal; font-variant: normal;  
	  font-weight: 300;
	  text-shadow: 2px 4px 3px rgba(0, 0, 0, .10);
	  font-size: 5em;
	  color: white;
	  margin: auto;		  
}

.header .caption h4 {
	font-weight: 500;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, .5);
	font-size: 1.8em;
	color: #e2e2e2;
	margin: auto;
}

.about {
	position: relative
}

.about::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 70%;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7));
	background: linear-gradient(#fff 0, #f7f7f7 100%);
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: skewY(4deg);
	transform: skewY(4deg);
	opacity: .7;
	z-index: -1
}

.about .part-photo {
	position: relative;
	margin-top:90px
}

.about .part-photo::after {
	content: "";
	position: absolute;
	top: 25px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border: 5px solid rgba(255, 255, 255, .2)
}

.about .info p {
	padding-bottom: 10px;
	border-bottom: 1px solid 
}

.about .info h4 {
	font-weight: 700
}

.about .info h5 {
	font-weight: 600
}

.about .info h6 {
	font-weight: 700;
	margin-bottom: 20px
}

.about .info h6 span {
	font-weight: 400;
	padding-left: 10px
}

.skills {
	background: #f7f7f7
}

.skills .skills-prog {
	display: block;
	width: 100%
}

.skills .skills-prog h6 {
	font-weight: 700;
	margin: 15px 0
}

.skills .barfiller {
	width: 100%;
	height: 22px;
	border-radius: 55px;
	position: relative;
	margin-bottom: 40px
}

.skills .barfiller .fill {
	display: block;
	position: relative;
	width: 0;
	height: 100%;
	border-radius: 55px
}

.skills .barfiller .tip {
	background: #fff;
	border-radius: 50%;
	margin-top: -4px;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: 700;
	left: 5px;
	position: absolute;
	z-index: 2
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: white;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: black;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
  border-style: solid;
  
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 500px) {
  .timeline ul li {
    margin-left: 5px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 5px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: 5px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}



/*.portfolio .filtering {
	margin: auto;
}

.portfolio .filtering .active-1 {
	color: #03a9f4!important;
	position: relative;
	overflow: hidden!important
}

.portfolio .filtering .active-1::before {
	content: "";
	position: absolute;
	top: 15%;
	width: 50%;
	height: 1px;
	background: #999;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: move-porder;
	animation-name: move-porder;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-transition: all .8s;
	transition: all .8s;
	overflow: hidden!important
}

.portfolio .filtering .active-1::after {
	content: "";
	position: absolute;
	right: -50%;
	bottom: 15%;
	width: 50%;
	height: 1px;
	background: #999;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: move-porder-1;
	animation-name: move-porder-1;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-transition: all .8s;
	transition: all .8s
}

.portfolio .filtering span {
	position: relative;
	margin: 0 10px;
	padding: 10px 3px;
	font-size: 16px;
	color: #777;
	cursor: pointer;
	overflow: hidden!important
}

.portfolio .gallery {
	margin: 0;
	padding: 0
}

.portfolio .gallery .item-img {
	margin: 0;
	padding: 0
}

.portfolio .gallery .item-img .item-img-sn {
	position: relative;
	overflow: hidden
}

.portfolio .gallery .item-img .item-img-sn img {
	width: 100%;
	-webkit-transition: all 1s;
	transition: all 1s
}

.portfolio .gallery .item-img .item-img-sn h4 {
	width: 100%;
	position: absolute;
	top: 20%;
	left: -20%;
	text-align: center;
	font-size: 16px;
	color: #999;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: perspective(500px) rotateX(90deg);
	transform: perspective(500px) rotateX(90deg);
	z-index: 3
}

.portfolio .gallery .item-img .item-img-sn .icon {
	position: absolute;
	-webkit-transition: all 1s;
	transition: all 1s;
	left: 50%;
	bottom: 0;
	text-align: center;
	z-index: -1
}

.portfolio .gallery .item-img .item-img-sn .icon a {
	display: inline;
	font-size: 22px
}

.portfolio .gallery .item-img .item-img-sn:before {
	content: "";
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	-webkit-transform: skewX();
	transform: skewX();
	-webkit-transition: all .8s;
	transition: all .8s;
	z-index: 1
}

.portfolio .gallery .item-img .item-img-sn:hover:before {
	top: 0
}

.portfolio .gallery .item-img .item-img-sn:hover img {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.portfolio .gallery .item-img .item-img-sn:hover h4 {
	left: 0;
	-webkit-transform: perspective(500px) rotateX(0);
	transform: perspective(500px) rotateX(0)
}

.portfolio .gallery .item-img .item-img-sn:hover .icon {
	display: block;
	bottom: 50%;
	z-index: 2
}

@media (max-width:660px) {
	.portfolio .filtering span {
		padding: 6px 10px
	}
	.portfolio .filtering .active {
		border-radius: 10px
	}
}
*/
footer {
	background: #1c2331!important;
	padding: 50px 0
}

footer .cop {
	text-align: center
}

footer .cop h2 {
	color: #797979;
	padding: 10px 0
}

footer .cop .title h3{

	color:white;
}


section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 12;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 50px;
  height: 50px;
  color: #74d4b3;
  font-size: 1.4em;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: black;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 10px;
  height: 10px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}


/*.demo-1 {
	background: url(../Special_files/background/cube_fire_dark_light.jpg);
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-size:100%; 
	max-width: 100%;
	-webkit-clip-path: none;
	clip-path: none
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
	background-color: rgba(0, 0, 0, 0);
	background-blend-mode: overlay;

}
*/
.demo-1 #particles-js {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

.demo-1 {
	background: url(../Special_files/background/5266556-red-android-wallpapers.jpg);
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-size:100%; 
	max-width: 100%;
	-webkit-clip-path: none;
	clip-path: none
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;

}


}
 
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
.demo-1 {
	background: url(../Special_files/background/5266556-red-android-wallpapers.jpg);
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-size:100%; 
	max-width: 100%;
	-webkit-clip-path: none;
	clip-path: none
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;

}

}
 
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
.demo-1 {
	background: url(../Special_files/background/uaJeudN.jpg);
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-size:100%; 
	max-width: 100%;
	-webkit-clip-path: none;
	clip-path: none
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;

}

}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
.demo-1 {
	background: url(../Special_files/background/uaJeudN.jpg);
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-size:100%; 
	max-width: 100%;
	-webkit-clip-path: none;
	clip-path: none
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: overlay;

}

}
